<div id="mel19">
    <h2>Browse Enya One</h2>
    <h3>Enya albums and songs lyrics</h3>
    <ul>
        <li><a href="{{ url_for('album_enya') }}"><em>Enya</em><span>, 1987</span></a></li>
        <li><a href="{{ url_for('album_watermark') }}"><em>Watermark</em><span>, 1988</span></a></li>
        <li><a href="{{ url_for('album_shepherd_moons') }}"><em>Shepherd Moons</em><span>, 1991</span></a></li>
        <li><a href="{{ url_for('album_the_celts') }}"><em>The Celts</em><span>, 1992</span></a></li>
        <li><a href="{{ url_for('album_the_memory_of_trees') }}"><em>The Memory of Trees</em><span>, 1995</span></a></li>
        <li><a href="{{ url_for('album_paint_the_sky_with_stars') }}"><em>Paint The Sky With Stars - The Best of Enya</em><span>, 1997</span></a></li>
        <li><a href="{{ url_for('album_a_day_without_rain') }}"><em>A Day Without Rain</em><span>, 2001</span></a></li>
        <li><a href="{{ url_for('album_amarantine') }}"><em>Amarantine</em><span>, 2005</span></a></li>
        <li><a href="{{ url_for('album_and_winter_came') }}"><em>And Winter Came...</em><span>, 2008</span></a></li>
        <li><a href="{{ url_for('album_dark_sky_island') }}"></span><em>Dark Sky Island</em><span>, 2015</span></a></li>
        <li><a href="{{ url_for('other_songs') }}">Other songs<span>, including <em>Sounds of the Season/Christmas Secrets</em></span></a></li>
        <li><a href="{{ url_for('all_songs') }}">Complete list<span>: listen for free and download all Enya songs</span></a></li>
        <li><a href="{{ url_for('songs_albums') }}">Enya Songs &amp; Albums<span>, including soundtracks and other works</span></a></li>
    </ul>
    <h3>About Enya</h3>
    <ul>
        <li><a href="{{ url_for('biography') }}">Enya biography, trivia and FAQ</a></li>
        <li><a href="{{ url_for('roma_ryan_nicky') }}">Roma <span>(Enya's lyricist) and</span> Nicky Ryan <span>(her producer)</span></a></li>
        <li><a href="{{ url_for('new_age_music') }}">Artists like Enya<span>: New Age, Celtic, ambient and ethereal music</span></a></li>
        <li><a href="{{ url_for('enya_quotes') }}">Quotes<span> by and about Enya</span></a></li>
        <li><a href="{{ url_for('the_lord_of_the_rings') }}"><em>The Lord of the Rings</em><span>, Enya's favorite book</span></a></li>
        <li><a href="{{ url_for('enya_clannad') }}">Clannad<span>, Enya's family band</span></a></li>
        <li><a href="{{ url_for('the_celts_documentary') }}"><span>BBC's</span> <em>The Celts</em> documentary</a></li>
    </ul>
    <h3>Even more</h3>
    <ul>
        <li><a href="{{ url_for('sitemap') }}">Sitemap<span>: more about Enya</span></a></li>
        <li><a href="{{ url_for('videos') }}">EnyaTube<span>: all Enya videos</span></a></li>
        <li><a href="https://amzn.to/2ZIw9PC"  target="_blank" rel="noopener nofollow">Enya MP3<span> and more products</span></a></li>
        <li><a href="{{ url_for('links') }}"><span>Pinned</span> Enya links</a></li>
    </ul>
</div>
