<footer>
    <p><strong><a href="{{ url_for('index') }}">Enya One</a></strong>, 2007&ndash;<script> document.write(new Date().getFullYear());</script> &middot; <a href="{{ url_for('sitemap') }}#aboutus">About us</a> &middot; <a href="{{ url_for('pp') }}">Privacy Policy</a> &middot; <a href="{{ url_for('sitemap') }}#contact">Contact us</a> &middot; <a href="http://felipedario.com/">Design and web development by Felipe D&aacute;rio</a>.</p>
    <p>Lyrics, videos, images and the Enya logo TM &amp; &copy; Enya/Warner Music. As Amazon Associates, we earn a small comission from qualifying purchases.</p>
</footer>
