{% extends "base.html" %}

{% block title %}Enya songs, albums, biography, lyrics, and more!{% endblock %}

{% block meta_description %}Enya Lyrics is a tribute to singer Enya featuring all her song lyrics, downloads, Only Time info, albums information, videos, biography and more!{% endblock %}

{% block extra_meta %}
    <meta itemprop="name" content="Enya Lyrics, biography, song downloads, videos...">
    <meta itemprop="description" content="All Enya&rsquo;s song lyrics and translations, videos, albums, biography and more!">
    <meta itemprop="image" content="{{ url_for('static', filename='images/enya-promo.jpg') }}">
    <meta property="og:image:height" content="411">
    <meta property="og:image:width" content="785">
    <meta property="og:description" content="All Enya&rsquo;s song lyrics and translations, videos, albums, biography and more! ">
    <meta property="og:title" content="Enya Lyrics, biography, song downloads, videos...">
    <meta property="og:url" content="{{ url_for('index', _external=True) }}">
    <meta property="og:image" content="{{ url_for('static', filename='images/enya-promo.jpg') }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Enya Lyrics, biography, song downloads, videos...">
    <meta name="twitter:description" content="All Enya&rsquo;s song lyrics and translations, videos, albums, biography and more!">
    <meta name="twitter:image:src" content="{{ url_for('static', filename='images/enya-promo.jpg') }}">
{% endblock %}

{% block main_content %}
<h1>Enya songs, albums, biography...</h1>

<p class="desc"><strong>Welcome to Enya One!</strong> Explore Enya's <a href="{{ url_for('songs_albums') }}">song lyrics, translations</a>, <a href="{{ url_for('songs_albums') }}">albums</a>, <a href="{{ url_for('videos') }}">videos</a>, and <a href="{{ url_for('biography') }}">biography</a>.</p>

<ul>
    <li><strong>Discography</strong>: Discover all <a href="{{ url_for('songs_albums') }}">songs, albums, and lyrics</a>.</li>
    <li><strong>Biography</strong>: Gain a deeper understanding of <a href="{{ url_for('biography') }}">Enya's career and life</a>.</li>
    <li><strong>FAQs</strong>: Find answers to  <a href="{{ url_for('biography') }}#faq">frequently asked questions</a>.</li>
    <li><strong>Explore the genre</strong>: Discover more <a href="{{ url_for('new_age_music') }}">artists like Enya</a>: New Age, celtic artists with similar ethereal or ambient styles.</li>
</ul>

<h3>Even more about Enya:</h3>

<ul>
    <li><strong>Stream Enya's Music</strong>: Explore a  <a href="{{ url_for('all_songs') }}">complete list of Enya's songs</a> available for streaming and download.</li>
    <li><strong>Creative Collaborators</strong>:  <a href="{{ url_for('roma_ryan_nicky') }}">Roma and Nicky Ryan</a> contribute significantly to Enya's music, writing and producing captivating compositions.</li>
    <li><strong>Family Ties</strong>: <a href="{{ url_for('enya_clannad') }}">Clannad</a> a renowned band formed by Enya's family including Moya Brennan, influenced Enya's musical journey.</li>
    <li><strong>Multimedia:</strong> Watch <a href="{{ url_for('videos') }}">music videos and live performances</a>.</li>
</ul>

<h3><a name="About_Enya"></a>Who is Enya?</h3>

<a target="_blank" href="https://www.amazon.com/Enya/e/B000APUOQK?ref=sr_ntt_srch_lnk_2&amp;qid=1641169744&amp;sr=1-2&_encoding=UTF8&tag=enylyrallenys-20&linkCode=ur2&linkId=d541620b701d12b789cae68caf79229e&camp=1789&creative=9325">
    <img src="{{ url_for('static', filename='images/enya-home2023-2.jpg') }}" alt="Stream or download Enya songs" class="float-left width-33 rounded" />
</a>

<p><a href="{{ url_for('biography') }}"><strong>Enya</strong></a> is a Grammy Award Irish singer, often labeled as &ldquo;New Age&rdquo;. Singing and playing all instruments by herself, she made world hits such as &ldquo;<a href="{{ url_for('album_a_day_without_rain') }}#Only_Time">Only Time</a>&rdquo;, &ldquo;<a href="{{ url_for('other_songs') }}#May_It_Be">May It Be</a>&rdquo; and &ldquo;<a href="{{ url_for('album_watermark') }}#Orinoco_Flow">Orinoco Flow (Sail Away)</a>&rdquo;.
<br /> <a href="{{ url_for('biography') }}"><strong>More about Enya &raquo;</strong></a></p>

<p>Artists like Enya: <a href="{{ url_for('new_age_music') }}">Celtic Woman</a>, <a href="{{ url_for('new_age_music') }}">Clannad</a> (Enya's family band), <a href="{{ url_for('new_age_music') }}">Loreena McKennitt</a>, <a href="{{ url_for('new_age_music') }}">Vangelis</a> and <a href="{{ url_for('new_age_music') }}">Yanni</a>.</p>
{% endblock %}

{% block sidebar_content %}
<h3>Featured albums</h3>

<h4><strong><a href="{{ url_for('album_a_day_without_rain') }}">A Day Without Rain</a></em></strong>, 2000</h4>
<div>
    <a href="{{ url_for('album_a_day_without_rain') }}">
        <img src="{{ url_for('static', filename='images/enya-2023-adwr.jpg') }}" alt="A Day Without Rain album picture" />
    </a>
    <p>Through extensive use in various forms of media, "Only Time" became an anthem of resilience and hope after  the tragic events of the September 11 attacks. </p>
</div>

<h4><strong><a href="{{ url_for('album_the_memory_of_trees') }}">The Memory of Trees</a></em></strong>, 1995</h4>
<div>
    <a href="{{ url_for('album_the_memory_of_trees') }}">
        <img src="{{ url_for('static', filename='images/enya-2023-tmot.jpg') }}" alt="The Memory of Trees album picture" />
    </a>
    <p>This album won Enya's first Grammy Award for Best New Age Album. &ldquo;With the destruction of the world&rsquo;s rainforests it may turn out to be that the memory of trees is nothing more than that for us&mdash;a memory.&rdquo;</p>
</div>
{% endblock %}
