{% extends "base.html" %}

{% block title %}Our recommended links | Enya fan sites{% endblock %}

{% block meta_description %}More Enya official and fan site links. Enya Lyrics is a tribute to the New Age singer Enya featuring all her song lyrics, MP3 downloads, Only Time info, discography, news, videos, quotes, biography and more!{% endblock %}

{% block main_content %}
<h1>Enya links</h1>

<p>Here is a small selection of the best Enya official websites, resources and saving tips. If you want to have your link here, please <a href="mailto:orangax@gmail.com&amp;subject=Enya%20Lyrics%20add%20a%20link">contact us</a>.</p>

<ul>
    <li><a href="http://enya.sk/" target="_blank" rel="noopener noreferrer">Enya.sk | EnyaBlues</a>, content rich Enya fansite.</li> {# Added target and rel for external link #}
    <li><a href="http://www.amazon.com/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.com%2FEnya%2Fartist%2FB000APUOQK%2F102-3998370-406&tag=enylyrallenys-20&linkCode=ur2&camp=1789&creative=9325" target="_blank" rel="noopener nofollow">Enya profile in Amazon.com</a>, with big savings in Enya products.</span></li> {# Added target and rel for external link #}
</ul>
{% endblock %}

{% block sidebar_content %}
{# This page had an empty div#sidebar in the original HTML, so this block is intentionally left empty or can be omitted if no sidebar is ever planned for this page. #}
{% endblock %}
