{% extends "base.html" %}

{% block title %}The Lord of the Rings and Enya ("May It Be", "An&iacute;ron") | Enya Lyrics{% endblock %}

{% block meta_description %}More on The Lord of the Rings and Enya songs. Enya One is a tribute to the New Age singer Enya featuring all her song lyrics, MP3 downloads, Only Time info, discography, news, videos, quotes, biography and more!{% endblock %}

{% block main_content %}
<h1>The Lord of the Rings</h1>

<p><strong><em>The Lord of the Rings</em></strong> is an epic fantasy novel written by the English academic J. R. R. Tolkien. It is one of the most popular works in 20th-century literature and Enya's favourite book.</p>

<div style="margin: 0 30px 1em 0; float: left; width: 180px;">
<img src="{{ url_for('static', filename='180px-Cover_lotr_green_gandalf.jpg') }}" alt=""></a>
<p style="font-size: 0.9em; margin-bottom: 0pt;">
<em>Cover of</em>&nbsp;&nbsp;The Lord Of The Rings<em> book trilogy.</em></p>
</div>

<p>The story of the <em>The Lord of the Rings</em> takes place in the imaginary Third Age of Middle-earth. The
lands of Middle-earth are populated by Men (humans) and other humanoid
races (Hobbits, Elves, Dwarves, and Orcs), as well as many real and
fantastical creatures. The story centres on the Ring of Power made by
the Dark Lord Sauron. Starting from quiet beginnings in the Shire, the
story ranges across Middle-earth and follows the course of the War of
the Ring through the eyes of its characters, most notably the central
protagonist Frodo Baggins.</p>

<p>The immense and enduring popularity of <em>The Lord of the Rings</em>
has led to numerous references in popular culture, and has
inspired (and continues to inspire) artwork, music, films and
television, video games, and subsequent literature. Adaptations of <em>The
Lord of the Rings</em> have been made for radio, theatre, and film.</p>

<div style="margin:0  1em 0 30px; float: right; width: 250px;">
<img src="{{ url_for('static', filename='250px-Ringstrilogyposter.jpg') }}" alt=""></a>
<p style="font-size: 0.9em; margin-bottom: 0;">
LotR <em> movie trilogy poster.</em></p>
</div>

<p>The 2001/2003 release of the widely acclaimed <em>Lord of the Rings</em> film trilogy prompted a new surge of interest in <em>The Lord of the Rings</em> and Tolkien's other works.</p>

<p>A number of rock, classical and New Age music artists have also
been influenced by Tolkien's work. Enya wrote an instrumental piece
called "Lothl&oacute;rien" in 1991, for <em><a href="{{ url_for('album_shepherd_moons') }}">shepherd Moons</a></em>, and
composed two songs for the film <em>The Lord of the Rings: The Fellowship
of the Ring</em>, <a href="{{ url_for('other_songs') }}#May_It_Be">"May It Be"</a> and
<a href="{{ url_for('other_songs') }}#An%EDron">"An&iacute;ron"</a>.</p>




<a href="#">Return to top</a>
{% endblock %}

{% block sidebar_content %}
<p>Amazon.com has images, more information and great discounts for <strong><em>The Lord Of The Rings</em> <a href="http://www.amazon.com/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fbestsellers%2Fdvd%2F10337131%2F&tag=enylyrallenys-20&linkCode=ur2&camp=1789&creative=9325" rel="nofollow" target="_blank">movies</a> and <a href="http://www.amazon.com/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fbestsellers%2Fbooks%2F408708%2F&tag=enylyrallenys-20&linkCode=ur2&camp=1789&creative=9325" rel="nofollow" target="_blank">books</a></strong>.</p>
{% endblock %}
